server:  
  port: ${PORT:8761}

spring:  
  application:
    name: discovery
    
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: false

management:
  endpoints:
    web:
      exposure:
        include:
        - health

logging:
    level:
      '[org.springframework.cloud.netflix.eureka]': trace